@media only screen and (min-width: 64em) {.responsive {width: 100%;}
    * {margin:0}
header { background-color: #777; }
h1 { margin-left: .75rem;	padding: .5rem; }
.hamburger { display: block;position: absolute;top: 2.0rem;right: 1.25rem; }

.navigation { list-style: none; padding-left: 0; }
.navigation li { display: none; }
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  article p.town-article img { width: 29.333%; }
  
}

@media only screen and (max-width: 37.5em) {
	.navigation.responsive { position: relative; }
	.navigation.responsive li { background-color: #eee;	display: block;	width: 100%; margin: 2px 0;	border: 1px solid #ddd; }
	.navigation.responsive li a {	padding: 1rem; text-align: center;	display: block; text-decoration:none; }
	.navigation.responsive li a:hover { background-color: #ddd; }
}