@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
nav ul {
    display: flex;
    direction: row;
}
nav ul li {
    flex: 1 1 100%;
}
nav ul li a {
    padding: .6rem 1rem;
    margin: auto;
}    
main picture img{
    width: 96%;

}  

    .main{
        display: grid;
        grid-template-columns: 400px 400px 400px;
        grid-gap: 20px;
    }
main img{
        width:100%;
    }
main img:hover{
        box-shadow: 8px 8px 4px grey;
    }
    
article p.town-article img { 
     width: 29.333%; }
    
  
}